---
- name: Installer unzip (nécessaire pour GoPhish)
  apt:
    name: unzip
    state: present
    update_cache: yes

- name: Créer le dossier d'installation
  file:
    path: /opt/gophish
    state: directory
    mode: '0755'

- name: Télécharger GoPhish (Dernière version)
  get_url:
    url: https://github.com/gophish/gophish/releases/download/v0.12.1/gophish-v0.12.1-linux-64bit.zip
    dest: /tmp/gophish.zip
    mode: '0644'

- name: Décompresser l'archive
  unarchive:
    src: /tmp/gophish.zip
    dest: /opt/gophish
    remote_src: yes

- name: Rendre le binaire exécutable
  file:
    path: /opt/gophish/gophish
    mode: '0755'

- name: Configurer GoPhish pour écouter sur toutes les interfaces (0.0.0.0)
  # Par défaut, GoPhish écoute sur 127.0.0.1, ce qui bloquerait l'accès depuis mon PC
  replace:
    path: /opt/gophish/config.json
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: Créer un service Systemd pour GoPhish (Pour qu'il tourne en fond)
  copy:
    dest: /etc/systemd/system/gophish.service
    content: |
      [Unit]
      Description=GoPhish Open-Source Phishing Toolkit
      After=network.target

      [Service]
      User=root
      WorkingDirectory=/opt/gophish
      ExecStart=/opt/gophish/gophish
      Restart=always

      [Install]
      WantedBy=multi-user.target

- name: Démarrer et activer GoPhish
  service:
    name: gophish
    state: started
    enabled: yes